header {
    width: 100%;
    background-image: linear-gradient(66deg, rgb(35, 163, 78), rgb(198, 247, 152));
    display: flex;
    justify-content: center;
    
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 900;
    font-size: 3em;
    color: hsl(300, 89%, 12%);
}